 *{
    font-family: 'Times New Roman', Times, serif;
    transition: .5s ease;
}
marquee{
    margin-top: 10px;
}
nav{
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
    margin-left: 10px;
}
nav a{
    text-decoration: none;
    padding-left: 5px;
}
nav a:hover{
    color: red;
    text-decoration: underline;
}
#photo{
    height: auto;
    margin-top: 2%;
    border-radius: 20px;
    width: 355px;
}
#photo1{
    height: auto;
    margin-top: 2%;
    border-radius: 20px;
    width: 300px;
    margin-bottom: 20px;
    margin-left: 10%;
}
#photo2{
    height: auto;
    margin-top: 2%;
    border-radius: 20px;
    width: 300px;
    margin-bottom: 20px;
    margin-left: 10%;
}
#Favourite{
    margin-left: 2px;
}
.memory{
    margin-left: 5%;
    margin-bottom: 5%;
}
.pora{
    margin-top: 10px;
}
#photo5{
    width: 250px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 95%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 1, 0.7);
}
.modal img {
    display: block;
    margin-left: 20%;
    margin-top: 200px;
    border-radius: 20px;
    width: 250px;
}
.close {
    color: #fff;
    float: right;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: #ccc;
    text-decoration: none;
}
.review{
    margin: 40px 40px 0px 40px;
}
.phone{
    margin-top: -20px;
}
.family{
    display: flex;
}
#photo4{
    height: auto;
    margin-top: 2%;
    border-radius: 20px;
    width: 250px;
    margin-bottom: 20px;
    margin-left: -20px;
}
#photo14
{
    height: auto;
    margin-top: 45px;
    border-radius: 20px;
    width: 250px;
    margin-bottom: 20px;
    margin-left: -20px;
}
#family{
    margin-top: 10%;
}
#family1{
    margin-top: 10%;
    margin-left: px;
}
#photo10{
    height: auto;
    margin-top: 2%;
    border-radius: 20px;
    width: 300px;
    margin-bottom: 20px;
    margin-left: 30px;
}
#photo11{
    height: auto;
    margin-top: 2%;
    border-radius: 20px;
    width: 300px;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 250px;
    height: 215px;
}
.dark-mode {
    background-color: #0d1021;
    color: #ffffff;
}
.switch {
    position: relative;
    display: inline-block;
    margin-top: -40px;
    float: right;
    width: 55px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 4px;
    background-color: #fff;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}